<%= render 'shared/error_messages' %>
<div class="row">
  <div class="col-xs-12">
    <%= form_for(@article, :html=>{class: "form-horizontal", role: "form"}) do |f|%>
      <div class="form-group row-xs-2">
        <div class="col-xs-2 col-xs-offset-2">
          <%= f.label "Title", class:"form-label"  %> 
        </div> 
        <div class="col-xs-5">
          <%= f.text_field :title, class: "form-control"   %> 
        </div>
      </div>
      
      <div class="form-group row-xs-10">
        <div class="col-xs-2 col-xs-offset-2">
          <%= f.label "Description", class:"form-label"  %> 
        </div>
        <div class="col-xs-5">
          <%= f.text_area :description, class:"form-control", rows: 12 %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
          <%= f.submit class:"btn btn-primary" %>
          <%= button_tag 'Cancel', class:"btn btn-primary", type: "submit", name: "cancel" %>
        </div>
      </div>
    
    <% end %>

  </div>
</div>
