<div align='center'>
  <h2> Listing all Users :</h2>
  <%= will_paginate @users %>
</div>
<% @users.each do |user| %> 
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-large" >
      <div class="article-title">
        <%= link_to user.username, user_path(user) %>
      </div>
      <div class="article-body">
        <%= user.email %>
      </div>
      <% if current_user == user %>
        <div class="article-actions">
          <%= link_to "Show", user_path(user), 
              class:"btn btn-primary btn-lrg" %>
          <%= link_to "Edit", edit_user_path(user),
              class:"btn btn-warning btn-lrg" %>
          <%= link_to "Delete", user_path(user), 
              class:"btn btn-danger btn-lrg", 
              method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<div align='center'>
  <%= will_paginate @uses %>
</div>

